/Testbed/nbproject/private/
/Testbed/build/
/bin/
/Testbed/output.bmp
Testbed/.idea
Testbed/out
Testbed.iml
/Testbed/dist/
/testbed/nbproject/private/
output.jpeg
.DS_Store
/Testbed/*.dll
/Testbed/*.dylib
master-application.jnlp
log.xlsx
log.csv